---
import {Button} from "@/components/ui/button";
import {Astronav, MenuIcon, MenuItems} from "astro-navbar";
import {Switch} from "@/components/ui/switch";
import {Image} from "astro:assets";

const menuitems = [
  {
    title: "About",
    path: "#about",
  },
  {
    title: "Projects",
    path: "#projects",
  },
  {
    title: "Contact",
    path: "#contact",
  },
];
---

<header>
  <Astronav>
    <div class="flex w-full items-center justify-between lg:w-auto">
      <a href="#hero">
        <Image src="/MAiKo26.svg" alt="logo" width={150} height={150} /></a
      >
      <div class="flex justify-between lg:hidden">
        <MenuIcon class="h-6 w-6" />
      </div>
    </div>
    <MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
      <ul
        class="flex flex-col justify-center items-center lg:flex-row lg:gap-3"
      >
        {
          menuitems.map((item) => (
            <>
              <li>
                <a
                  aria-label="navigation link"
                  href={item.path}
                  class="flex py-2 lg:px-3"
                >
                  <Button
                    className="font-bold text-xl"
                    id="navbarbuttons"
                    variant="ghost"
                    size="lg"
                  >
                    {item.title}
                  </Button>
                </a>
              </li>
            </>
          ))
        }
        <li><Switch id="theme-switch" client:load /></li>
      </ul>
    </MenuItems>
  </Astronav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function ready() {
    const theme = document.getElementById("theme-switch");

    const body = document.querySelector("body");
    const header = document.querySelector("header");
    const lightTailWind = "bg-slate-300 text-slate-900 font-mono";
    const darkTailWind = "bg-slate-900 text-slate-300 font-mono";

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      localStorage.setItem("theme", "dark");
      body!.className = darkTailWind;
      header!.className =
        "py-4 z-50 flex flex-col w-full px-16 items-center justify-between lg:flex-row border-b-2 fixed bg-slate-900";
    } else {
      localStorage.setItem("theme", "light");
      body!.className = lightTailWind;
      header!.className =
        "py-4  z-50 flex flex-col w-full px-16 items-center justify-between lg:flex-row border-b-2 fixed bg-slate-300";
    }

    const switchTheme = () => {
      localStorage.setItem(
        "theme",
        localStorage.getItem("theme") === "dark" ? "light" : "dark"
      );
      if (localStorage.getItem("theme") === "dark") {
        body!.className = darkTailWind;
        header!.className =
          "pt-4 z-50 flex flex-col w-full px-16 items-center justify-between lg:flex-row border-b-2 fixed bg-slate-900";
      } else {
        body!.className = lightTailWind;
        header!.className =
          "pt-4 z-50 flex flex-col w-full px-16 items-center justify-between lg:flex-row border-b-2 fixed bg-slate-300";
      }
    };

    if (theme) {
      theme.addEventListener("click", () => {
        switchTheme();
      });
    }
  });
</script>
