---
import Card from "@/components/ui/Card.astro";
import {getCollection} from "astro:content";

const projects = await getCollection("projects");
projects.sort((a, b) => a.data.id - b.data.id)
---

<section
  id="projects"
  class="mb-10 w-full px-5 flex flex-col items-center justify-center md:mb-0"
>
  <h2
    class="font-monospace text-sky-600 font-bold text-3xl text-orange lg:text-4xl"
  >
    Projects
  </h2>
  <span class="mb-10 h-1 w-10 bg-sky-600"></span>
  <div
    class="mb-10 flex w-full gap-5 lg:px-56 flex-col flex-wrap items-center md:flex-row justify-center"
  >
    {
      projects.map((project) => (
        <Card
          image={project.data.image}
          alt={project.data.img_alt}
          title={project.data.title}
          description={project.data.description}
          github={project.data.github}
          demo={project.data.demo}
          tags={project.data.tags}
        />
      ))
    }
  </div>
  <a
    href="https://github.com/MAiKo26?tab=repositories"
    target="_blank"
    rel="noopener"
    class="flex flex-row text-inherit hover:text-orange hover:text-sky-600"
    aria-label="link to repository"
  >
    View my side projects in my github
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="ml-1 h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
    </svg>
  </a>
</section>
