---
import Tags from "@/components/ui/Tags.astro";

import {Button} from "@/components/ui/button";

import {Image} from "astro:assets";
import {ChevronRightIcon} from "lucide-react";
interface Props {
  alt?: string;
  image?: string;
  title?: string;
  github?: string;
  description: string;
  tags: string[];
  children?: HTMLElement | HTMLElement[];
  demo?: string;
}

const {
  demo,
  github,
  image = "/images/project.webp",
  alt = "Project image",
  description,
  title = "Project title",
  tags,
} = Astro.props;
---

<section class="w-full p-4 max-w-96">
  <article
    class="rounded-xl bg-slate-100 p-3 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl"
  >
    <div class="relative flex items-end overflow-hidden rounded-xl">
      <Image
        src={`${image}`}
        alt={alt}
        width={400}
        height={400}
        format="webp"
        loading="eager"
      />
    </div>
    <div class="mt-1 p-2 w-full flex flex-col gap-6 justify-center">
      <div>
        <h3 class="text-black font-extrabold text-xl text-orange lg:text-2xl">
          {title}
        </h3>
        <p class="text-black text-s">{description}</p>
      </div>
      <div class="flex flex-row gap-2">
        {
          github ? (
            <a href={github} class="flex-1" aria-label="link to project">
              <Button className="w-full bg-slate-900 hover:bg-sky-600">
                Github Code
                <ChevronRightIcon className=" bg-inherit h-4 w-4" />
              </Button>
            </a>
          ) : null
        }
        {
          demo ? (
            <a
              href={demo}
              target="_blank"
              class="flex-1"
              aria-label="link to project"
            >
              <Button className=" w-full bg-slate-900 hover:bg-sky-600">
                Visit The Website
                <ChevronRightIcon className=" bg-inherit h-4 w-4" />
              </Button>
            </a>
          ) : null
        }
      </div>
      {tags && <Tags tags={tags} />}
    </div>
  </article>
</section>
