---
import Tags from "@/components/ui/Tags.astro";

import {Button} from "@/components/ui/button";

import {Image} from "astro:assets";
import {ChevronRightIcon} from "lucide-react";
interface Props {
  url?: string;
  alt?: string;
  image?: string;
  title?: string;
  description: string;
  tags: string[];
  children?: HTMLElement | HTMLElement[];
  demo?: string;
}

const {
  url = "#",
  demo,
  image = "/src/assets/project.png",
  alt = "Project image",
  description = "Project Description",
  title = "Project title",
  tags = ["Tags"],
} = Astro.props;
---

<section class="w-full h-full p-4 md:w-1/2 lg:w-1/3">
  <article
    data-testId="card"
    class="rounded-xl bg-white h-full p-3 shadow-lg duration-100 hover:scale-105 hover:transform hover:shadow-xl"
  >
    <div class="relative flex items-end overflow-hidden rounded-xl">
      <Image src={image} alt={alt} width={400} height={400} loading="eager" />
    </div>
    <div class="mt-1 p-2 flex flex-col gap-2 justify-between">
      <div>
        <h3 class="text-black text-xl text-orange lg:text-2xl">{title}</h3>
        <p class="text-black text-s">{description}</p>
      </div>
      <div class="flex flex-col gap-2">
        {
          demo ? (
            <a href={url} aria-label="link to project">
              <Button className=" w-1/2 bg-slate-900 hover:bg-sky-600">
                Github Code
                <ChevronRightIcon className=" bg-inherit h-4 w-4" />
              </Button>
            </a>
          ) : null
        }
        <a href={url} aria-label="link to project">
          <Button className=" w-1/2 bg-slate-900 hover:bg-sky-600">
            Live Demo
            <ChevronRightIcon className=" bg-inherit h-4 w-4" />
          </Button></a
        >
      </div>
      <Tags tags={tags} />
    </div>
  </article>
</section>
